<div class="card card-pricing border-0 shadow" style="width: 45vh;">
    <div class="card-body text-center">
        <p class="card-pricing-plan-name fw-bold text-uppercase text-muted">Professional Pack</p>
        <i class="card-pricing-icon ri-user-line text-primary display-4"></i>
        <h2 class="card-pricing-price display-5 fw-bold">$19 <span class="text-muted fs-6">/ Month</span></h2>
        <ul class="card-pricing-features list-unstyled my-4">
            <li class="mb-2"><i class="ri-check-line text-success me-2"></i>10 GB Storage</li>
            <li class="mb-2"><i class="ri-check-line text-success me-2"></i>500 GB Bandwidth</li>
            <li class="mb-2"><i class="ri-close-line text-danger me-2"></i>No Domain</li>
            <li class="mb-2"><i class="ri-check-line text-success me-2"></i>1 User</li>
            <li class="mb-2"><i class="ri-check-line text-success me-2"></i>Email Support</li>
            <li class="mb-2"><i class="ri-check-line text-success me-2"></i>24x7 Support</li>
        </ul>
        <button class="btn btn-primary mt-4 mb-2 rounded-pill">Choose Plan</button>
    </div>
</div>