<div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
  
      <div class="col">
        <div class="card">
          <div class="card-img-top">
            <img src="https://mdbootstrap.com/img/Photos/Others/images/16.jpg" class="card-img-top" alt="Card image cap">
            <div class="card-img-overlay">
              <a href="#!" class="stretched-link"></a>
            </div>
          </div>
          <div class="card-body">
            <h4 class="card-title">1 Card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <button type="button" class="btn btn-primary">Read more</button>
          </div>
        </div>
      </div>