<div>
    <div class="card mt-5">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="first-tab" data-bs-toggle="tab" data-bs-target="#first"
                    type="button" role="tab" aria-controls="first" aria-selected="true">
                    Overview
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="second-tab" data-bs-toggle="tab" data-bs-target="#second" type="button"
                    role="tab" aria-controls="second" aria-selected="false">
                    API
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="third-tab" data-bs-toggle="tab" data-bs-target="#third" type="button"
                    role="tab" aria-controls="third" aria-selected="false">
                    Examples
                </button>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="first" role="tabpanel" aria-labelledby="first-tab">
                The implementation Overview here
            </div>
            <div class="tab-pane fade" id="second" role="tabpanel" aria-labelledby="second-tab">
                <a href="https://github.com/rajkadam16/webapp-component">github</a>
            </div>
            <div class="tab-pane fade" id="third" role="tabpanel" aria-labelledby="third-tab">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Component Name : app-profile1</h5>
                        <hr />
                        <p class="card-text">
                            <app-profile1></app-profile1>
                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Component Name : app-profile2</h5>
                        <hr />
                        <p class="card-text">
                            <app-profile2></app-profile2>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




