<div class="container-fluid">
    <div class="row">
      <aside class="col-lg-2 col-md-3 d-none d-md-block bg-light border-end vh-100 p-3">
        <h3>Contents</h3>
        <nav>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" routerLink="chapter1">Chapter 1</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="chapter2">Chapter 2</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="chapter3">Chapter 3</a>
            </li>
          </ul>
        </nav>
      </aside>
      
      <section class="col-lg-10 col-md-9 p-3">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page"  routerLink="data1">home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="data2">about</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="data3">contact</a>
          </li>
        </ul>
        <router-outlet></router-outlet>
      </section>
    </div>
  </div> 
