<div id="carouselExampleIndicators" class="carousel slide my-5" data-bs-ride="carousel">
    <ol class="carousel-indicators">
      <li *ngFor="let image of carousel; let i = index" [attr.data-bs-target]="'#carouselExampleIndicators'"
        [attr.data-bs-slide-to]="i" [class.active]="i === 0"></li>
    </ol>
    <div class="carousel-inner">
      <div *ngFor="let image of carousel; let i = index" class="carousel-item" [class.active]="i === 0">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
          preserveAspectRatio="xMidYMid slice" focusable="false">
          <rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect>
        </svg>
        <div class="container">
          <div class="carousel-caption text-center">
            <h1>{{ image.heading }}</h1>
            <p class="opacity-75">{{ image.message }}</p>
            <button type="button" class="btn btn-primary" [routerLink]="image.routerLink">
              {{ image.btnName }}
            </button>
          </div>
        </div>
      </div>
     <div *ngFor="let btn of button">
      <button [class]="btn.class" type="button" data-bs-target="#carouselExampleIndicators"
      [attr.data-bs-slide]="btn.data">
      <span [class]="btn.newClass" aria-hidden="true"></span>
      <span class="visually-hidden">{{btn.btnName}}</span>
    </button>
     </div>
    </div>
  </div>