<div class="card text-white" style="background-color: #0f1214">
    <div class="container py-5">
       <div class="row">
          <div class="col-md-6 mb-4">
             <h2>Keep up to date</h2>
             <p>Join our newsletter for regular updates. No spam ever.</p>
             <form>
                <div class="mb-3">
                   <label for="email-subscribe" class="form-label">Your email</label>
                   <div class="input-group w-75">
                      <input type="email" class="form-control" id="email-subscribe" name="email"
                         placeholder="example@email.com" required />
                      <button class="btn btn-primary" type="submit">Subscribe</button>
                   </div>
                </div>
             </form>
          </div>
          <div class="col-md-6 d-flex gap-3">
             <div class="mb-4">
                <h5>Products</h5>
                <ul class="list-unstyled">
                   <li>
                      <a href="/material-ui/" class="text-decoration-none">Material UI</a>
                   </li>
                   <li>
                      <a href="/base-ui/" class="text-decoration-none">Base UI</a>
                   </li>
                   <li><a href="/x/" class="text-decoration-none">MUI X</a></li>
                   <li>
                      <a href="/toolpad/" class="text-decoration-none">Toolpad</a>
                   </li>
                </ul>
             </div>
             <div class="mb-4">
                <h5>Resources</h5>
                <ul class="list-unstyled">
                   <li>
                      <a href="/material-ui/material-icons/" class="text-decoration-none">Material Icons</a>
                   </li>
                   <li>
                      <a href="/material-ui/getting-started/templates/" class="text-decoration-none">Templates</a>
                   </li>
                   <li>
                      <a href="/material-ui/getting-started/supported-components/"
                         class="text-decoration-none">Components</a>
                   </li>
                   <li>
                      <a href="/material-ui/customization/how-to-customize/"
                         class="text-decoration-none">Customization</a>
                   </li>
                   <li>
                      <a href="/design-kits/" class="text-decoration-none">Design Kits</a>
                   </li>
                </ul>
             </div>
             <div class="mb-4">
                <h5>Explore</h5>
                <ul class="list-unstyled">
                   <li>
                      <a href="/material-ui/getting-started/" class="text-decoration-none">Documentation</a>
                   </li>
                   <li>
                      <a href="https://mui.com/store/" class="text-decoration-none">Store</a>
                   </li>
                   <li><a href="/blog/" class="text-decoration-none">Blog</a></li>
                   <li>
                      <a href="/material-ui/discover-more/showcase/" class="text-decoration-none">Showcase</a>
                   </li>
                   <li>
                      <a href="/material-ui/discover-more/roadmap/" class="text-decoration-none">Roadmap</a>
                   </li>
                </ul>
             </div>
             <div>
                <h5>Company</h5>
                <ul class="list-unstyled">
                   <li><a href="/about/" class="text-decoration-none">About</a></li>
                   <li>
                      <a href="/material-ui/discover-more/vision/" class="text-decoration-none">Vision</a>
                   </li>
                   <li class="d-flex align-items-center">
                      <a href="/careers/" class="text-decoration-none">Careers</a>
                   </li>
                   <li>
                      <a href="/material-ui/getting-started/support/#professional-support-premium"
                         class="text-decoration-none">Support</a>
                   </li>
                   <li>
                      <a href="https://mui.com/legal/privacy/" class="text-decoration-none">Privacy policy</a>
                   </li>
                   <li>
                      <a href="mailto:contact@mui.com" class="text-decoration-none" target="_blank"
                         rel="noopener">Contact us</a>
                   </li>
                </ul>
             </div>
          </div>
       </div>
    </div>
 </div>