<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="home">Header</a>
  </div>
</nav>

<div class="navtabs-container">
  <nav class="nav nav-tabs justify-content-center">
    <a class="nav-link" routerLink="components" routerLinkActive="active"> Components </a>
    <a class="nav-link" routerLink="home" routerLinkActive="active"> Home </a>
    <a class="nav-link"  routerLink="" > About </a>
    <a class="nav-link"  routerLink="" > Login </a>
  </nav>
</div>
