

<div class="card mt-5">
    <div class="card-body">
       <div class="row">
          <div class="col-lg-5 col-md-6 col-12 mt-5">
             <!-- Product image -->
             <a href="javascript: void(0);" class="text-center d-block mb-4">
                <img
                   src="https://www.ikea.com/in/en/images/products/millberget-swivel-chair-murum-golden-brown__1020150_pe831801_s5.jpg?f=xl"
                   class="img-fluid" style="max-width: 280px" alt="Product-img" />
             </a>
 
             <div class="d-flex justify-content-center pt-3">
                <a href="javascript: void(0);">
                   <img
                      src="https://www.ikea.com/in/en/images/products/millberget-swivel-chair-murum-golden-brown__1025973_pe834268_s5.jpg?f=u"
                      class="img-fluid img-thumbnail p-2" style="max-width: 75px" alt="Product-img" />
                </a>
                <a href="javascript: void(0);" class="ms-2">
                   <img
                      src="https://www.ikea.com/in/en/images/products/millberget-swivel-chair-murum-golden-brown__1025975_pe834270_s5.jpg?f=u"
                      class="img-fluid img-thumbnail p-2" style="max-width: 75px" alt="Product-img" />
                </a>
                <a href="javascript: void(0);" class="ms-2">
                   <img
                      src="https://www.ikea.com/in/en/images/products/millberget-swivel-chair-murum-golden-brown__1025974_pe834269_s5.jpg?f=u"
                      class="img-fluid img-thumbnail p-2" style="max-width: 75px" alt="Product-img" />
                </a>
             </div>
          </div>
          <div class="col-lg-7 col-md-6 col-12">
             <form class="ps-lg-4">
                <h3 class="mt-0">
                   Amazing Modern Chair (Orange)
                   <a href="javascript: void(0);" class="text-muted"><i class="mdi mdi-square-edit-outline ms-2"></i></a>
                </h3>
                <p class="mb-1">Added Date: 09/12/2018</p>
                <!-- Product stock -->
                <div class="">
                   <h4>
                      <span class="badge badge-success-lighten text-warning">Instock</span>
                   </h4>
                </div>
                <div class="">
                   <h6 class="font-14">Retail Price:</h6>
                   <h3>$139.58</h3>
                </div>
                <div class="mt-4">
                   <h6 class="font-14">Quantity</h6>
                   <div class="d-flex">
                      <input type="number" min="1" value="1" class="form-control" placeholder="Qty"
                         style="width: 90px" />
                      <button type="button" class="btn btn-danger ms-2">
                         <i class="mdi mdi-cart me-1"></i> Add to cart
                      </button>
                   </div>
                </div>
                <div class="mt-4">
                   <h6 class="font-14">Description:</h6>
                   <p>
                      It is a long established fact that a reader will be distracted by
                      the readable content of a page when looking at its layout. The
                      point of using Lorem Ipsum is that it has a more-or-less normal
                      distribution of letters, as opposed to using 'Content here,
                      content here', making it look like readable English.
                   </p>
                </div>
                <div class="mt-4">
                   <div class="row">
                      <div class="col-md-4 col-6">
                         <h6 class="font-14">Available Stock:</h6>
                         <p class="text-sm lh-150">1784</p>
                      </div>
                      <div class="col-md-4 col-6">
                         <h6 class="font-14">Number of Orders:</h6>
                         <p class="text-sm lh-150">5,458</p>
                      </div>
                      <div class="col-md-4 col-12">
                         <h6 class="font-14">Revenue:</h6>
                         <p class="text-sm lh-150">$8,57,014</p>
                      </div>
                   </div>
                </div>
             </form>
          </div>
       </div>
    </div>
 </div>
 
 