<div class="card">
    <div class="card-body">
        <h5 class="card-title">Component Name : app-footer1</h5>
        <hr>
        <p class="card-text">
            <app-footer1></app-footer1>
        </p>
    </div>
</div>


<div class="card">
    <div class="card-body">
        <h5 class="card-title">Component Name : app-footer2</h5>
        <hr>
        <p class="card-text">
            <app-footer2></app-footer2>
        </p>
    </div>
</div>


<div class="card">
    <div class="card-body">
        <h5 class="card-title">Component Name : app-footer3</h5>
        <hr>
        <p class="card-text">
            <app-footer3></app-footer3>
        </p>
    </div>
</div>
