<div class="container-fluid ">
  <div class="row">
    <aside
      class="col-lg-2 col-md-3 d-none d-md-block sidebar bg-light border-end  p-3">
      <h3>Contents</h3>
      <nav>
        <ul class="nav flex-column">
          <li *ngFor="let section of sections" class="nav-item">
            <a class="nav-link" [routerLink]="section.routerLink" routerLinkActive="active">{{section.displayname}}</a>
          </li>
        </ul>
      </nav>
    </aside>
    <section class="col-lg-10 col-md-9 main-content p-3">
      <router-outlet></router-outlet>
    </section>
  </div>
</div>
