<div class="container-fluid">
    <div class="row">
        <aside class="col-lg-2 col-md-3 d-none d-md-block bg-light border-end vh-100 p-3">
            <h3>Contents</h3>
            <nav>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="datepicker">Datepicker</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="footer">Footer</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="table">Table</a>
                    </li>
                    
                </ul>
            </nav>
        </aside>

        <section class="col-lg-10 col-md-9 p-3">
            <router-outlet></router-outlet>
        </section>
    </div>
</div>